<body>
	<div class="container-fluid d-flex align-items-center justify-content-center bg-light">
		<div class="border bg-white border-2 rounded">
			<br>
			<div class="mx-5">
				<img src="/assets/logo.png" class="img-fluid" width="300" height="100" alt="">
			</div>
			<hr class="bg-dark border-1 border-top border-dark mx-3">
			<br>
			<form method="POST" action="/dashboard/reset-password" class="needs-validation" novalidate="" autocomplete="off">
				<input type="hidden" id="userId" name="userId" value="{{ user.id }}">
				<div class="row mx-5">
					<label class="mb-2 text-muted" for="password">Senha</label>
					<input id="password" type="password" class="form-control" name="password" required>
				</div>
				<br>
				<div class="row mx-5">
					<label class="mb-2 text-muted" for="repeatPassword">Confirmar senha</label>
					<input id="confirmPassword" type="password" class="form-control" name="confirmPassword" required>
				</div>
				<br>
        {{#if showError }}
          {{#each errors}}
            <div class="row mx-5">
              <p class="text-danger">ERRO: {{this}}</p>
            </div>
          {{/each}}
        {{/if}}
				<br>
				<br>
				<div class="row mx-5">
					<button type="submit" class="btn btn-primary-light-color btn-lg ms-auto">Alterar senha</button>
				</div>
				<br>
				<br>
			</form>
		</div>
	</div>
</body>