.nav_link{color: #ada8a8}
.nav_link:hover{color: #4c90f7}
.active{color: #4c90f7; font-weight: bold;}
.active::before{content: '';position: absolute;left: 0;width: 2px;height: 16px;background-color: var(--accent-color)}
#showSearchButton{color: #323232; border-color: #4c4c4c; border-radius: 0.75rem}