<body id="body-pd">
  {{>header}}
  <div class="container-fluid">
    <br>
    <div class="col-2 d-flex">
      <a class="btn btn-primary" id="aButton" href="/dashboard/item" role="button">Voltar</a>
    </div>
    <br>
    <div class="border bg-light">
      <br>
      <div class="row ms-3">
        <h3>Cadastrar item</h3>
      </div>
      <hr class="bg-dark border-1 border-top border-dark mx-5">
      <br>
      <form method="POST" action="/dashboard/new-door" class="needs-validation" novalidate="" autocomplete="off">
        <input type="hidden" id="marketId" name="marketId" value="{{marketId}}">
        <div class="row mx-3">
          <label for="description" class="col-sm-2 col-form-label d-flex justify-content-end">Descrição: </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="description" name="description">
          </div>
        </div>
        <br>
        <div class="row mx-3">
          <label for="type" class="col-sm-2 col-form-label d-flex justify-content-end">Tipo: </label>
          <div class="col-sm-4">
            <select class="form-select form-control" name="type" id="type">
                <option disabled selected value></option>
                <option value="0">Entrada</option>
                <option value="1">Geladeira</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row mx-3">
          <label for="idTopicCloudMqtt" class="col-sm-2 col-form-label d-flex justify-content-end">Tópico CloudMQQT: </label>
          <div class="col-sm-4">
            <select class="form-select form-control" name="idTopicCloudMqtt" id="idTopicCloudMqtt">
                <option disabled selected value></option>
                {{#each topics}}
                  <option value="{{ this.id }}">{{ this.topic }}</option>
                {{/each}}
            </select>
          </div>
        </div>
        <br>
        <div class="row mx-3">
          <label for="idCloudMqtt" class="col-sm-2 col-form-label d-flex justify-content-end">ID CloudMQQT: </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="idCloudMqtt" name="idCloudMqtt">
          </div>
        </div>
        <br>
        <div class="row mx-3 d-flex justify-content-end">
            <div class="col-2 ">
              <button type="submit" id= "aButton" class="btn btn-success ms-auto">Salvar</button>
            </div>
        </div>
      </form>
      <br>
      <br>
    </div>
  </div>
</body>