<div class="header">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="/" class="nav_logo"> <i class='bx bx-wrench nav_logo-icon'></i> <span class="nav_logo-name">ArrumaUFPR</span> </a>
                <div class="nav_list">
                    <a href="/incidents" class="nav_link"> <i class='bx bx-error-alt nav_icon'></i> <span class="nav_name">Incidentes</span> </a>
                    <a href="/incident-types" class="nav_link"> <i class='bx bx-category nav_icon'></i> <span class="nav_name">Tipos de Incidente</span> </a>
                    <a href="/locations" class="nav_link"> <i class='bx bx-buildings nav_icon'></i> <span class="nav_name">Locais</span> </a>
                    <a href="/objects" class="nav_link"> <i class='bx bx-package nav_icon'></i> <span class="nav_name">Objetos</span> </a>
                    <a href="/logout" class="nav_link"> <i class='bx bx-log-out-circle nav_icon'></i> <span class="nav_name">Sair</span> </a>
                </div>
            </div>
        </nav>
    </div>
</div>